*{
    box-sizing:border-box;
}
body{
    background-image: url('./fabian-mardi-kVKz9qnJC-k-unsplash.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center center;
   display:flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin:0;

   min-height: 100vh;
    
}
h1,.container{
    align-self: center;
   justify-content: center;

}
h1{
    margin-top:-20rem;
    font-size:2rem;
}
.container{
    display:flex;

}
.big-text{
    font-size:6rem;
    line-height: 1;
    margin:0 2rem;
}
.count-down-el{

   text-align: center;
 
}
span{
font-size:1rem;  
display:block;
margin:0 4rem;
 
}